body {
  background-color: #333333;
  background-image: none;
  background-size: 100% 100%;
  font-family: 'Raleway', sans-serif;
  color: #f2f2f2;
  text-align: center;
  line-height: 200% !important;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

h2 {
  font-family: 'Press Start 2P', cursive;
}

button {
  color: black;
}

canvas {
  width: 50%;
  height: 50%;
}

p {
  margin-top: 20px;
}

.low-usage {
  color: blue;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

.row {
    padding-top: 175px;
}


.panel-default {
  background-color: #333333;
  color: #f2f2f2;
  border-color: transparent !important;
}

.centerme {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.temp-readings {
  color: red !important;
}


#conditions {
    text-transform: capitalize;
}
